.wrap-body{
    padding: 5% 20% 0% 20%;
}

.col-1-6{
    float:left; 
    display: inline-block;
    justify-content: flex-start;
    width: 40%;
}
.col-2-6{
    float:right; 
    display: inline-block;
    justify-content: flex-start;
    width: 60%;
}
.col-3-6{
    float:left; 
    display: inline-block;
    justify-content: flex-start;
    width: 60%;
}
.col-4-6{
    float:right; 
    display: inline-block;
    justify-content: flex-start;
    width: 40%;
}
.col-5-6{
    float:left; 
    display: inline-block;
    justify-content: flex-start;
    width: 50%;
}
.col-6-6{
    float:right; 
    display: inline-block;
    justify-content: flex-start;
    width: 50%;
}